# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
# feature-1 implemented
# feature-2 implemented pulled changes

**/staticresources/**
.localdevserver
.sfdx
.sf
.vscode

coverage/
